// mindshare variables.less overrides
@font-family-sans-serif: Candara, Rosario, sans-serif;
@font-family-monospace:'Source Code Pro', Menlo, Monaco, Consolas, "Courier New", monospace;
@font-family-serif: 'Libre Baskerville', serif;
@font-family-base: @font-family-sans-serif;
@font-size-base: 16px;

@headings-font-family:Oswald, inherit;
@headings-color:@brand-primary, inherit;

@icon-font-name: "fontawesome";
@icon-font-svg-id: "fontawesome";

@blockquote-font-size: (@font-size-base * 1.1);

@brand-primary:         #aeb0c6; //lavender
@brand-primary-light:   #c4c6db;
@brand-primary-dark:    #6f73a3;
@brand-success:         #2e2e7f; //deep blue
@brand-info:            #b3966c; //gold
@brand-info-light:      #ceb394;
@brand-warning:         #4a4b60; //gray

@input-bg: #faf4e8;
@btn-default-bg: @brand-success;

@font_awesome: "fontAwesome";

//== Scaffolding
//
//** Global text color on `<body>`.
@text-color:            #333333; //changed

//** Global textual link color.
@link-color:            @brand-primary-dark; //changed
@link-hover-color:      @brand-success; //changed
@link-hover-decoration: underline; //changed

@border-radius-base:        0px;

//** Background for the dropdown menu.
@dropdown-bg:                    @brand-primary;
@dropdown-border:                @brand-primary;
@dropdown-divider-bg:            @brand-primary;

@dropdown-link-color:            #ffffff;
@dropdown-link-hover-color:      @brand-success;
@dropdown-link-hover-bg:         @brand-primary;
@dropdown-link-active-color:     @brand-success;
@dropdown-link-active-bg:        @brand-primary;

@navbar-default-color:             @brand-success;
@navbar-default-bg:                #ffffff;
@navbar-default-border:            #ffffff;

// Navbar links
@navbar-default-link-color:                @brand-success;
@navbar-default-link-hover-color:          #fff;
@navbar-default-link-hover-bg:             @brand-primary;
@navbar-default-link-active-color:         #fff;
@navbar-default-link-active-bg:            @brand-primary;

// Navbar toggle
@navbar-default-toggle-hover-bg:           @brand-primary;


@breadcrumb-padding-vertical:   8px;
@breadcrumb-padding-horizontal: 15px;
//** Breadcrumb background color
@breadcrumb-bg:                 #f5f5f5;
//** Breadcrumb text color
@breadcrumb-color:              #ccc;
//** Text color of current page in the breadcrumb
@breadcrumb-active-color:       @gray-light;
//** Textual separator for between breadcrumb elements
@breadcrumb-separator:          "/";
