//
// LAYOUTS - RESPONSIVE
// Place all of your custom responsive styles in here. This stylesheet is loaded last,
// and takes precedence over all others.
//
// The various screen sizes and breakpoints can be configured in variables.less
//
// --------------------------------------------------

/* Responsive Text Centering */
.text-center-sm,
.text-center-md,
.text-center-lg,
.text-right-sm,
.text-right-md,
.text-right-lg {
	text-align: inherit;
}
// Breakpoint styles: these styles will only apply on screens smaller than
// the defined @grid-float-breakpoint-max (usually 767px).

@media (max-width: @grid-float-breakpoint-max) {

}

// XS styles - default: x <= 479px
@media (max-width: @screen-xs) {
	img {
		width: 100%;
		height: auto;

	}

	a .heading {
		text-decoration: underline;
	}

	.entry-title a {
		text-decoration: underline;
	}

	.woocommerce ul.products li.product, .woocommerce-page ul.products li.product, .woocommerce-page[class*=columns-] ul.products li.product, .woocommerce[class*=columns-] ul.products li.product {
		width: 100%;
	}
}


// XS styles - default: x <= 768px
@media (max-width: @screen-xs-max) {
	.text-center-xs {
		text-align: center !important;
		float:      none !important;
	}
	.text-right-xs {
		text-align: right;
	}
	.header .navbar .navbar-nav li {
		display: block;
	}
	.navbar-nav {
		margin: 0px;
	}

	.breadcrumb {
		position: relative;
		left: 0px;
	}

	hr.bottom-margin {
		margin-bottom: 0px;
		height: 0px;
	}
}


// Small styles - default: 480px <= x <= 991px
@media (min-width: @screen-sm) and (max-width: @screen-sm-max) {
/*	img {
		height: auto;
		width: 50%;
	}*/

	.breadcrumb {
		position: relative;
		left: 0px;
	}
}
// Medium styles - default: 992px <= x <= 1199px
@media (min-width: @screen-md) and (max-width: @screen-md-max) {
	#main {
		min-height: 250px;
		//width: 79%;
	}

}
// Large styles - default: 1200px <= x
@media (min-width: @screen-lg) {
	#main {
		min-height: 250px;
	}
}
/* Define xs styles after defaults so they take precedence */

/* Small grid */
@media (min-width: @screen-tablet) {
	.text-center-sm, .text-center-xs {
		text-align: center;
	}
	.text-right-sm, .text-right-xs {
		text-align: right;
	}
}
/* Medium grid */
@media (min-width: @screen-desktop) {
	.text-center-md, .text-center-sm, .text-center-xs {
		text-align: center;
	}
	.text-right-md, .text-right-sm, .text-right-xs {
		text-align: right;
	}
	
	// Single post video sizes.
	article {
		&.category-video,
		&.category-videos,
		&.category-how-to-videos {
			.entry-content iframe {
				width: 690px;
				height: 390px;
			}
		}
	}
}
/* Large grid */
@media (min-width: @screen-lg-desktop) {
	.text-center-lg, .text-center-md, .text-center-sm, .text-center-xs {
		text-align: center;
	}
	.text-right-lg, .text-right-md, .text-right-sm, .text-right-xs {
		text-align: right;
	}
}
.text-xs-left {
	text-align: left;
}
.text-xs-right {
	text-align: right;
}
.text-xs-center {
	text-align: center;
}
.text-xs-justify {
	text-align: justify;
}
@media (min-width: @screen-sm-min) {
	.text-sm-left {
		text-align: left;
	}
	.text-sm-right {
		text-align: right;
	}
	.text-sm-center {
		text-align: center;
	}
	.text-sm-justify {
		text-align: justify;
	}
	.join-email #addForm {
		margin-left: 8%;
	}
	.join-email #addForm input[type=submit] {
		left: -26px;
	}
}
@media (min-width: @screen-md-min) {
	.text-md-left {
		text-align: left;
	}
	.text-md-right {
		text-align: right;
	}
	.text-md-center {
		text-align: center;
	}
	.text-md-justify {
		text-align: justify;
	}
	.join-email #addForm {
		margin-left: 14%;
	}
	.join-email #addForm input[type=submit] {
		left: -16px;
	}
}
@media (min-width: @screen-lg-min) {
	.text-lg-left {
		text-align: left;
	}
	.text-lg-right {
		text-align: right;
	}
	.text-lg-center {
		text-align: center;
	}
	.text-lg-justify {
		text-align: justify;
	}
	.join-email #addForm {
		margin-left: 18%;
	}
}
