//
// LAYOUTS
// Place all of your custom styles in here. This stylesheet is loaded last,
// and takes precedence over all others.
//
// --------------------------------------------------

body {
	-moz-osx-font-smoothing: grayscale; // enable font-smoothing for browsers that support it
	-webkit-font-smoothing:  antialiased;
	text-shadow:             1px 1px 1px rgba(0, 0, 0, 0.004);
}

hr.bottom-margin{
	border-top:none;
	margin-bottom:70px;
	height:4px;
}

.no-padding {
	padding:0px !important;

}
// Page header

.header-right {
  margin-top: 20px;

  a {
	color:@brand-primary-dark;
  }

  a:hover {
	color: @brand-success;
  }

  .search-bar {
	float:right;
	clear: right;
	margin-right: -2px;
  }
  .search-bar-fb {
	float: right;
	clear: both;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 700;
	margin: 18px 0 0;
  }
  .search-bar-text:before {
	content: "\f111";
	font-size: 13px;
	color: @brand-success;
	font-family: @font_awesome;
  }

  .search-bar-text {
	float:right;
	clear: right;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold;
	margin: 14px 0 0px;

	a {
	  margin-left: 2px;
	}
  }

  #searchform {

	button[type=submit] {
	  display: none;
	}

	input[type=text] {
	  -webkit-border-radius: 4px;
	  -moz-border-radius: 4px;
	  border-radius: 4px;
	  width: 250px;
	}
  }

  .donation:before {
	content: "\f111";
	font-size: 13px;
	color: @brand-success;
	font-family: @font_awesome;
  }

  .donation {
	float:right;
	clear: right;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 12px;

	a {
	  margin-left: 2px;
	}

  }
}

.header-hr {
  border-top: 10px solid @brand-primary;
  margin-bottom: 0;
  margin-top: 15px;
}

.header {
	margin-top: 0px;

    .caret {
	  display:none;
	}

  	.navbar-default {
	  margin:0;
	  border: none;

	  .nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
		background-color: @brand-primary;
		border-color: @brand-primary;
	  }
	}

	.navbar {

		.navbar-toggle + .nav-collapse {
			margin-top: 0;
		}

	  	.dropdown.open {
		  background-color:@brand-primary;
		}

	  	.navbar-nav {
		  text-align: center;

		  li {
			float:none;
			text-transform:uppercase;
			width: auto;
			display: inline-block;

			a {
			  font-weight: 700;
			  font-size: 18px;
			}

			.dropdown-menu li {
			  text-transform:none;
			  display: block;
			}
		  }
		}
	}
}
.bypostauthor > article .fn:before {
	content:  "\f408";
	margin:   0 2px 0 -2px;
	position: relative;
	top:      -1px;
}

//Secondary Navigation / Logos
.secondary-navigation {
  background-color: @brand-primary;
  border-color: #fff;
  min-height: 47px !important;


	li a {
		font-weight: 700;
		font-size: 18px;
		color: #2e2e7f;
		padding: 10px 10px;
	}

	li.active a {
		background-color: #6f73a3;
	}

}

.secondary-logo {
  text-align: center;
	//margin-bottom:20px;
	max-height: 300px;
}

#menu-kirtanxchange-navigation, #menu-cmp-navigation, #menu-jobs-navigation, #menu-dasvandh-navigation, #menu-khalsa-council-navigation, #menu-ministry-navigation, #menu-dharmic-education-navigation, #menu-sikhs-feed-people-navigation {

  li a {
    font-weight: 700;
    font-size: 18px;
    color: @brand-success;
    padding: 10px 10px;
  }

  li.active a {
    text-decoration: none;
    background-color: @brand-primary-dark;
  }
}


.page-header {
  margin: 30px 0 22px;
  border-bottom:none;

  &.anchor-links {
	text-align:center;
	font-size: 16px;
	font-weight: 700;

	> a, .top-anchor-section a, .bottom-anchor-section a {
	  padding: 0px 10px;
	}

	.top-anchor-section {
	  margin-bottom:10px;

	  a {
		color: @brand-success;
	  }
	}

	.bottom-anchor-section {
	  margin-bottom: 10px;
	  padding: 0px 30px;
	}
  }
}

//Department Section
.department-section-title {
  text-align:center;
  color: @brand-success;
  text-decoration: underline;

  > h2 {
	font-weight:700;
  }
}
.staff-member > h2 {
  text-align:center;
  color: @brand-success;
}

//
// Archives
// --------------------------------------------------

.archive {

}
//
// Single post
// --------------------------------------------------

article {

	&.category-video,
	&.category-videos,
	&.category-how-to-videos {
		body.single & .mapi-featured-img {
			display: none;
		}
	}

	header, .article-header {
		margin-top: 0px;

		&.post-header {
			// applies only to posts / items listed in archives
		}

		&.page-header {
			// applies only to single entries
		}

		.entry-title {
			margin-bottom: 0px;
		}

		.byline {
			.text-muted;
			display:       inline-block;
			margin-bottom: 8px;

			time {
			}

		}

		.amp {
			font-family: Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', serif;
			font-style:  italic;
		}

		.breadcrumb {

			.current_item {
				color: @breadcrumb-active-color;
			}

		}

	}

	section.entry-content {
	  padding: 0px 30px;

		.row {
			margin: 0px;
		}

      .landing-gallery {
        text-align: center;
        margin-bottom: 20px;

        img {
          border-top: 20px solid @brand-primary;
        }


        .heading {
          color: @brand-success;
          font-size: 24px;
          font-weight: 700;
          margin: 10px 0 0;
        }

        .subheading {
          font-size: 18px;
          color: @brand-warning;
          margin-bottom: 20px;
		  padding: 15px;
        }
      }

		dd {
			margin-left:   0;
			font-size:     0.9em;
			color:         #787878;
			margin-bottom: 1.5em;
		}

		img {
			max-width: 100%;
			height:    auto;
		}

		.wp-caption {
			background: #EEEEEE;
			padding:    5px;

			/* images inside wp-caption */
			img {
				margin-bottom: 0;
				width:         100%;
			}

			p.wp-caption-text {
				font-size:  0.85em;
				margin:     4px 0 7px;
				text-align: center;
			}

		}

		video, object {
			max-width: 100%;
			height:    auto;
		}


		pre {
			background: #EEEEEE;
			border:     1px solid #CECECE;
			padding:    10px;
		}

	}

	footer, .article-footer {
		margin-top: 8px;

		.tags {
			font-size: @font-size-small;
			color:     @text-muted;

			a {
				.label;
				.label-default;
			}

		}

		.mapi.edit-link {
		  background-color: @brand-primary-light;
		  a {
			color: #fff;
		  }

		}

	}

    .anchor-links-layout {
      .h-anchor-link {
        color: @brand-success;
        text-align: center;
        font-weight: bold;
        margin: 10px 0 20px 0;
      }
    }

    .anchor-links-layout.odd {
      background-color: @brand-primary-light;
      border-top: 1px double @brand-primary-dark;
    }

    .anchor-links-layout.even {
      background-color: #ffffff;
    }

    .board-members {
      padding:0px;

      .h-anchor-link {
        color: #fff;
        margin: 0;
      }

      .member-title {
        background-color: @brand-primary-light;
        padding: 5px 0;
        margin: 20px 0;
		text-align: center;
      }

    }



}
/* end single post */

/*
Templates
*/
.content-section {
  padding: 0px 30px 25px;

}

.course-class-container {

  .h-course-class {
    color: @brand-success;
    border-bottom: 5px solid @brand-success;
    max-width: 25%;
    margin: 0 auto;
    margin-bottom: -6px;
    text-decoration: underline;
    font-weight: 700;
  }

  .course-img {
    margin-top: 15px;
  }

  .course-info {
    .date {
      display: block;
      font-weight: 700;
      color: @brand-success;
    }

    .location {
      margin-bottom: 20px;
      display: block;
      font-weight: 700;
      color: @brand-success;
    }
  }

  .odd {
    background-color: @brand-primary-light;
    border-top: 1px double #6f73a3;

    .course-info-heading {
      color: #fff;
    }
    .date, .location {
      color:#ffffff;
    }
  }

  .even {
    background-color: #ffffff;

    .course-info-heading {
      color: @brand-success;
    }
  }

}

.alignleft, img.alignleft {
	float:  left;
	margin: @padding-base-vertical 20px @padding-base-vertical 0;
}
.alignright, img.alignright {
	float:  right;
	margin: @padding-base-vertical 0 6px 20px;
}
.aligncenter, img.aligncenter {
	float:  none;
	margin: @padding-base-vertical auto;
}
.alignnone, img.alignnone {
	float:  none;
	margin: @padding-base-vertical 0;
}
// Comments

.comments {

	.comment {
		padding: 20px;

		&.odd {
			background: #F8F8F8;
		}

		img.media-object {
			width:  64px;
			height: 64px;
		}

	}

	.comment.depth-2 {
		margin-left: 34px;
	}

}
#commentform {
	label {
		width: 75px;
	}
}
/* sidebars and asides */
#sidebar {
  margin-top: 15px;

	.widget {

		margin-bottom: 40px;

		.widgettitle {
			border-bottom:  1px solid @table-border-color;
			width:          90%;
			padding-bottom: 4px;
		}

		ul {
			.list-unstyled;
		}

		&:first-child {
			// first widget
		}

		&:last-child {
			// last widget
		}

		// Default Wordpress widgets

		&.widget_categories {

			select {
				.form-control;
			}

			> ul {
				.list-group;

				li {
					.list-group-item;
				}

			}

			ul.children {
				li {
					padding: 0;
					margin:  0 0 0 @padding-base-horizontal*2;
					border:  none;

					.badge {
						.label;
						.label-info;
						float: none;
					}

				}
			}

		}

		&.widget_nav_menu {
			ul.sub-menu {
				margin-left: @padding-base-horizontal*1.5;
			}
		}

		&.textwidget {
			img {
				max-width: 100% !important;
				height:    auto !important;
			}
		}

	}

}

//Blog
body.blog, body.single {
  article section.entry-content {
	padding-left: 0px;

	.mapi-featured-img {
	  padding-left: 0px;
	  padding-right: 10px;
		margin: 0px 14px 5px 14px;
	}
  }
}
// Pagination

.pagination.pagination-centered {
	text-align: center;
	width:      100%;
}
// Footer Styles

//
// Join Email
// -------------------------------------------------

.join-email {
  margin: 0 auto;
  display: block;

	#gform_confirmation_message_7 {
		width: 65%;
		padding: 0;
		margin-bottom: 20px;
	}

  #addForm {
    width: 100%;
    text-align: center;
    margin-left: 18%;
    margin-top:35px;

	  #gform_wrapper_7 {
		  position: relative;
		  top: -32px;
		  right: -216px;
		  max-height:50px;

		 .gform_footer.right_label {
			  padding:     1em 0 .625em;
			  margin-left: 24%;
			  width:       64%;
			  top:         -65px;
			  position:    relative;
			  left:       107px;
		  }

		  label {
			  display:none;
		  }
	  }
  }

  #addForm .join-text {
    color: @brand-primary-dark;
    text-transform: uppercase;
    font-size: 20px;
    padding-right: 20px;
    font-weight:700;
  }

  #addForm input[type='text'] {
    background: @input-bg;
    min-height: 30px;
    border: none;
    padding: 5px 5px 5px 10px;
    min-width: 30%;
  }

  #addForm input[type='submit'] {
    background: @brand-primary;
    text-transform: uppercase;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    position: relative;
    left: -5px;
    min-width: 100px;
    top: -3px;
    height: 36px;
    padding: 8px 0px;
  }

  #addForm input[type='submit']:hover {
    background: @brand-primary-dark;
  }
}

footer, .footer {
    background: @brand-primary;
    padding: 30px 15px 17px;
	clear:      both;

	.menu-item {
      list-style: none;
      font-weight: 700;

      a {
        color:#ffffff;
        text-transform:uppercase;
      }
    }


    .menu-item a:hover {
      text-decoration:underline;
    }

  .social {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    
    .fa-facebook {
      color: #2e2e7f;
	  margin-right: 4px;

    }
	
	.facebook span {
	  color: #ffffff;
	}
	.facebook span:hover {
	  color: #ffffff;
	  text-decoration: underline;
	}
	.donation {
	  font-weight: 700;
	  font-size: 16px;
	  
	  a {
		color: #FFFFFF;
	  }
	  
	  a:hover {
		color:#FFFFFF;
		text-decoration: underline;
	  }
	}
	.donation:before {
	  content: "\f111";
	  font-size: 16px;
	  color: #2e2e7f;
	  font-family: fontAwesome;
	}
  }

	.copyright, #credit {
		color:          #ffffff;
		text-transform: uppercase;
		font-size:      10px;
		margin:         20px 0;
		line-height:    20px;

		@media (max-width: @grid-float-breakpoint) {
			float:      none !important;
			display:    block;
			width:      100%;
			text-align: center;
		}

	}

	#credit img {
		opacity: 0.5;
	}

	#credit img:hover {
		opacity: 1;
	}

}

//override for article footer
.article-footer {
  background-color: #ffffff;
}
/* misc. bootstrap style overrides */

.btn a {
	color:           @btn-default-color;
	font-weight:     normal;
	text-decoration: none;
}
.btn.btn-primary a {
	color: @btn-primary-color;
}
/* override for google talk / skype plugins */
span.gc-cs-link, a[href^="tel:"] {
	color:           inherit !important;
	text-decoration: inherit !important;
	cursor:          inherit !important;
}
/**
 * 6.5 Gallery
 * -----------------------------------------------------------------------------
 */

.gallery {
	margin-bottom: 20px;
}
.gallery-item {
	float:    left;
	margin:   0 4px 4px 0;
	overflow: hidden;
	position: relative;
}
.gallery-columns-1 .gallery-item {
	max-width: 100%;
}
.gallery-columns-2 .gallery-item {
	max-width: 48%;
	max-width: -webkit-calc(50% - 4px);
	max-width: calc(50% - 4px);
}
.gallery-columns-3 .gallery-item {
	max-width: 32%;
	max-width: -webkit-calc(33.3% - 4px);
	max-width: calc(33.3% - 4px);
}
.gallery-columns-4 .gallery-item {
	max-width: 23%;
	max-width: -webkit-calc(25% - 4px);
	max-width: calc(25% - 4px);
}
.gallery-columns-5 .gallery-item {
	max-width: 19%;
	max-width: -webkit-calc(20% - 4px);
	max-width: calc(20% - 4px);
}
.gallery-columns-6 .gallery-item {
	max-width: 15%;
	max-width: -webkit-calc(16.7% - 4px);
	max-width: calc(16.7% - 4px);
}
.gallery-columns-7 .gallery-item {
	max-width: 13%;
	max-width: -webkit-calc(14.28% - 4px);
	max-width: calc(14.28% - 4px);
}
.gallery-columns-8 .gallery-item {
	max-width: 11%;
	max-width: -webkit-calc(12.5% - 4px);
	max-width: calc(12.5% - 4px);
}
.gallery-columns-9 .gallery-item {
	max-width: 9%;
	max-width: -webkit-calc(11.1% - 4px);
	max-width: calc(11.1% - 4px);
}
.gallery-columns-1 .gallery-item:nth-of-type(1n),
.gallery-columns-2 .gallery-item:nth-of-type(2n),
.gallery-columns-3 .gallery-item:nth-of-type(3n),
.gallery-columns-4 .gallery-item:nth-of-type(4n),
.gallery-columns-5 .gallery-item:nth-of-type(5n),
.gallery-columns-6 .gallery-item:nth-of-type(6n),
.gallery-columns-7 .gallery-item:nth-of-type(7n),
.gallery-columns-8 .gallery-item:nth-of-type(8n),
.gallery-columns-9 .gallery-item:nth-of-type(9n) {
	margin-right: 0;
}
.gallery-columns-1.gallery-size-medium figure.gallery-item:nth-of-type(1n+1),
.gallery-columns-1.gallery-size-thumbnail figure.gallery-item:nth-of-type(1n+1),
.gallery-columns-2.gallery-size-thumbnail figure.gallery-item:nth-of-type(2n+1),
.gallery-columns-3.gallery-size-thumbnail figure.gallery-item:nth-of-type(3n+1) {
	clear: left;
}
.gallery-caption {
	background-color:   rgba(0, 0, 0, 0.7);
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
	color:              #FFFFFF;
	font-size:          @font-size-small;
	line-height:        1.5;
	margin:             0;
	max-height:         50%;
	opacity:            0;
	padding:            @padding-base-vertical 8px;
	position:           absolute;
	bottom:             0;
	left:               0;
	text-align:         left;
	width:              100%;
}
.gallery-caption:before {
	content:    "";
	height:     100%;
	min-height: 49px;
	position:   absolute;
	top:        0;
	left:       0;
	width:      100%;
}
.gallery-item:hover .gallery-caption {
	opacity: 1;
}
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
	display: none;
}
.sticky {
	.entry-date, .byline {
		display: none !important;
	}
}
// MAPI specific stuff
.mapi-featured-img {
	background-color: #ffffff;
    padding:5px;
    float:left;
  max-width: 400px;
}

.breadcrumb {
  background: @brand-primary;
  position: absolute;
  top: 20px;
  left: 30px;
  z-index: 999;
  color: #ffffff;h1, span a {
  font-size:16px;
  /*text-transform: capitalize;*/
  margin: 0px;
  line-height: 22px;
  color: #ffffff;
}



  h1:hover, span a:hover {
	color: @brand-primary-dark;
  }
}

#carousel {
	min-height: 50px;
	text-align: center;
}


.flexslider {
  margin: 0 0 15px;
  
  img {
	max-width: 100%;
  }

  .flex-caption {
	background: transparent;

	.flex-caption-title {
	  font-size: 46px;
	  text-shadow: 0 1px 1px #000;
	  text-transform: uppercase;
	  margin-bottom: 30px;
	}
  }
  .flex-control-nav {
	  display:none;
  }
}
body.home .flexslider, body.page-template-template-landing-page .flexslider {
  margin-bottom:40px;
}
.home-container {
	padding:0px;

	section.entry-content {
		padding:0px;
	}
}

iframe {
  max-width: 100%;
  width: 640px;
  height: 385px;
  display: block;
  margin: 0 auto;
}

.entry-content {
	iframe {
/*		max-width: 100%;
		width: 640px;
		height: 385px;*/
		display: block;
		margin: 5px 14px;
		width: 390px;
		height: 260px;
	}
}
/*Woocommerce*/
.woocommerce {

  a.button, button.button.alt, input.button, a.button.alt, input.button.alt {
    background-color:@brand-primary;
    color: #fff;
    border-radius: 0px;
  }

  a.button:hover, button.button.alt:hover, input.button:hover, a.button.alt:hover, input.button.alt:hover {
    background-color:@brand-primary-dark;
    color: #fff;
  }

  .woocommerce-message, .woocommerce-error, .woocommerce-info {
    border-top-color: @brand-primary-dark;
  }

  .woocommerce-message:before, .woocommerce-error:before, .woocommerce-info:before {
    color: @brand-primary-dark;
  }

  div.product p.price {
    color: @brand-primary-dark;
  }

  ul#shipping_method li {
    text-indent: 3px;
  }

	ul.products li.product h3 {
		height: 40px;
	}
}

.woocommerce-checkout {

  .checkout .col-2 h3#ship-to-different-address {
    margin-top: 0px;
    text-align: left;
  }
}

.woocommerce-billing-fields h3, #ship-to-different-address-checkbox {
  text-align: left;
}

/*Used CSS to add styles for form-control because jQuery was too slow on page load*/
.woocommerce-checkout .woocommerce input, .woocommerce-checkout .woocommerce textarea, .woocommerce-page .quantity input, .woocommerce-page .coupon input.input-text {
  display: block;
  height: 36px;
  padding: 6px 12px;
  font-size: 16px;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  background: #faf4e8;
  border: 1px solid #aeb0c6;
  color: #000;
}

.woocommerce-checkout .woocommerce select {
  display: block;
  height: 36px;
  padding: 6px 12px;
  font-size: 16px;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  background: #fff;
  border: 1px solid #aeb0c6;
  color: #000;
}



.wcam.woocommerce-advanced-message.wcam-woocommerce_after_main_content {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
}


//$('#ship-to-different-address-checkbox').removeClass('form-control');
body.single-product .images {
  max-width:450px;
}
.related.products {
  clear: both;

  h2 {
    font-size: 28px;
  }
}

// Temporary Style change for page background
article .anchor-links-layout.even {
	background-color: #faf4e8;
}

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 2px;
	height: 0;
	overflow: hidden;
	border-top: 20px solid #aeb0c6;

	iframe {
		position: absolute;
		top:0;
		left: 0;
		width: 100%;
		height: 100%;
		margin: 0px;
	}
}


//Community Events pluging style bugfix

.chosen-container {
	width: 200px !important;
}
